<ion-view view-title="About">
  <ion-content>
    <ul class="list">
      <li class="item">
        <div class="text-center">
          <h1 class="about-logo">MyIonic Demo</h1>
          <h2>(under 'demo' branch)</h2>
          <h4>Version 0.02</h4>
        </div>
      </li>
      <div class="item item-divider">
        Application Info
      </div>
      <a class="item" href="http://codepen.io/anon/pen/pgoqLr">
        Based from
        <span class="item-note">
          Captain Anonymous (tap to see in CodePen)
        </span>
      </a>
      <a class="item" href="#">
        Modified by
        <span class="item-note">
          John Cyrill Corsanes (jccultima123)
        </span>
      </a>
      <a class="item" href="#">
        Build with
        <p>Ionic Framework</p>
      </a>
      <a class="item" href="#">
        Build under
        <p>MIT License</p>
      </a>
      <div class="item item-divider">
        Special Thanks to
      </div>
      <a class="item" href="#">
        8Layer Technologies Inc.
      </a>
      <a class="item" href="#">
        AngularJS
      </a>
      <a class="item" href="#">
        Jireh Lim Nimes
      </a>
      <a class="item" href="#">
        Melanie Ibisate
      </a>
      <a class="item" href="#">
        John Anthony Madulid
      </a>
      <a class="item" href="#">
        Althea Agawin
      </a>
    </ul>
  </ion-content>
</ion-view>
